@import 'scss/variables/mixings';
@import 'scss/variables/colors';

.FilterOrderBar {
    @include grid-width;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}