@import 'scss/variables/mixings';
@import 'scss/variables/colors';

.header {
    background-image: url( '/assets/illustrations/single-wave-pattern.svg');
    width: 100%;
    text-align: center;
}


.container {
    @include grid-width;
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    height: 942px;
    padding: 0 80px 230px 80px;
}

@media screen and (max-width: 1024px) {
    .container{
     display: flex;
     flex-direction: column;
     margin: 0 auto;
   }
 }

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 1024px) {
    .leftSide {
        width: 289px;
        margin: 0 auto
    }
}

.title {
   @include color-gradient-hover-text;
}

.pretitle {
    color: $thor;
}

.description {
    color: $thor;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    text-align: center;
}

.imageContainer {
    @include  brand-processing;
    border-radius: 80px;
    bottom: 100px;
    height: 540px;
    margin: 0 auto;
    width: 626px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .imageContainer{
        background: none;
        margin-top: 200px;
    }
}


.hero {
    width: 122%;
}

.specials {
    @include specials-bg-section;
    height: 656px;
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .specials {
        align-items: flex-end;
        display: flex;
        padding: 32px 17px;
        justify-content: center;
    }
}


.cardsContainer {
    @include grid-width;
    align-items: flex-end;
    display: flex;
    height: 528px;
    justify-content: stretch;
    position: relative;
}


.browse {
    transform: translate(75px, 29px) rotate(-3deg)
}
@media screen and (max-width: 1024px) {
    .browse {
        transform: none
    }
}


.choose {
    z-index: 2;
}
@media screen and (max-width: 1024px) {
    .choose {
        transform: none;
    }
}

.enjoy {
    transform: translate(-75px, 29px) rotate(3deg);
    z-index: 3;
}
@media screen and (max-width: 1024px) {
    .enjoy {
        transform: none
    }

    .button {
        height: 64px;
        width: 303px;
    }
}

