@import 'scss/variables/mixings';
@import 'scss/variables/colors';

.container {
    align-items: center;
    border-left: 2px solid $neutral4;
    display: flex;
    justify-content: space-evenly;
    margin-right: 160px;
    padding-left: 40px ;
    width: 656px;
}

.sortText {
    color: $neutral2;
    text-transform: capitalize;
}

.innerText {
    @include color-gradient-hover-text
}

input[type='radio'] {
    appearance: none;
}

input[type='radio']:checked + .customLabel {
    @include brand-hover;
    &> .innerText {
        color: $white;
    }
}

label {
    cursor: pointer;
    width: 193px;
}
