@import 'scss/variables/mixings';
@import 'scss/variables/colors';

.card {
    background-color: $white;
    border: 1px solid $light3;
    border-radius: 32px;
    padding: 12px;
    width: 532px;
    height: 676px;
}

.cardImage {
    @include specials-bg-ilustration;
    border-radius: 32px;
    height: 74%;
    width: 100%;
    border-radius: 24px 24px 0px 0px;
    text-align: center;

    >img {
        height: 100%;
        object-fit: contain;
    }
}

.cardFooter {
    border: 1px solid $light3;
    border-radius: 0px 0px 24px 24px;
    color: $thor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 24px;
    height: 26%;
}

.propsClass {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 0 auto;
    transform: translateX(-50%);
}

.titleContainer {
    display: flex;
    align-items: center;
    > div {
        background-color: $light;
        border-radius: 8px;
        margin-right: 16px;
        height: 48px;
        width: 48px;

        > img {
            width: 100%;
        }
    }

}

.cardTitle {
    @include color-gradient-hover-text
}