@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');

@import './variables/colors.scss';

.titles {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    color: $titlesBlack;
    line-height: 80%;
    &.l1 {
        font-size: 200px;
    }

    &.l2 {
        font-size: 48px;
    }

    &.l3 {
        font-size: 32px;
    }
}

@media screen and (max-width: 1024px) {
    .titles {
        &.l1{
            font-size: 96px;
        }

        &.l3{
            font-size: 24px;
        }
    }
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 150%;
    &.l1 {
        font-size: 18px;
        
    }
    &.l2 {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    .text {
        &.l1{
            font-size: 16px;
        }
    }
}
