$thor: #7C899C;
$titlesBlack: #252F3D;
$white: #FFFFFF;

$light: #E5F0FF;
$light2: #CCE1FF;
$light3: #DAE4F2;

$neutral: #252F3D;
$neutral2: #7C899C;
$neutral3: #8FA3BF;
$neutral4: #DAE4F2;
$neutral5: #E6EDF7;

$neutral7: #E6F0FF;

$green: #29CC74;
$redError: #E07F4F
